services:
  - type: web
    name: otp-verification-fastapi
    env: python
    plan: free
    buildCommand: ""
    startCommand: ./start.sh
    envVars:
      - key: EMAIL_USER
        value: yt5327744@gmail.com
      - key: EMAIL_PASSWORD
        value: jgrefidubavcnpec
      - key: DB_HOST
        value: localhost
      - key: DB_PORT
        value: 3306
      - key: DB_USER
        value: your_db_user
      - key: DB_PASSWORD
        value: your_db_password
      - key: DB_NAME
        value: backend_demo
